<app-menubar componentName ="Dashboard"></app-menubar>


<!-- <button routerLink='/userLogin' routerLinkActive="active"> Login </button> -->
<!-- <button routerLink='/' routerLinkActive="active"> Home </button> -->
<!-- "routerLinkActive" tag specifies which class to be applied upon clicking on the button -->

<!-- <form #form="ngForm">
    <input type="text" name="a" (keyup.enter)="this.en(form)" autofocus ngModel>
  </form>
  <p *ngFor="let fruit of list">{{fruit}}</p> -->

<!-- <p>{{this.constructor.name}}</p> -->

<div class="monthlyStatus">
  <!-- Space for component displaying monthly Data
      1.Policies Due : (Clickable - displays list of pending poilicies) 
      2.Policies Paid : (clickable - Displays list of policies paid in the current month)
      3.Total Prem Paid : (Displays total premium paid)
    -->
</div>
