<!-- <form #form="ngForm" (submit)="onSubmit(form)"> -->
<form #form="ngForm" (submit)="this.userAuth.login(form)">
    <div class="field">
      <label for="email">Email address</label>
      <input type="email" name="email" placeholder="Email Address" ngModel>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" ngModel>
    </div>
    <button type="submit">Login</button>
</form>
<button (click)=this.userAuth.logout()>Logout</button>

<button routerLink='/registerUser' routerLinkActive="active"> Register </button>
