  <!-- 
  /* Responsive Styles */
  @media screen and (max-width: 767px) {}
  @media screen and (max-width: 575px) {} 
-->

  <!-- <app-current-calender></app-current-calender> -->
  <!-- <h3>
    {{this.dateservice.currentDateName}}
  </h3> -->
  <!-- <button (click)="displayTimeDate()"> GetTime </button> -->
  <button routerLink='/userLogin' routerLinkActive="active"> Login </button>
  <button routerLink='/' routerLinkActive="active"> Home </button>
  
  <!-- "routerLinkActive" tag specifies which class to be applied upon clicking on the button -->
  <router-outlet></router-outlet>
