  <!-- 
  /* Responsive Styles */
  @media screen and (max-width: 767px) {}
  @media screen and (max-width: 575px) {} 
-->

  <!-- <app-current-calender></app-current-calender> -->
  <!-- <h3>
    {{this.dateservice.currentDateName}}
  </h3> -->
  <!-- <button (click)="displayTimeDate()"> GetTime </button> -->
  <button routerLink='/userLogin' routerLinkActive="active"> Login </button>
  <button routerLink='/' routerLinkActive="active"> Home </button>
  <br>
  <form #form="ngForm">
    <input type="text" name="a" (keyup.enter)="this.en(form)" autofocus ngModel>
  </form>
  <br>
  <br>
  <p>{{this.data}}</p>

  <!-- "routerLinkActive" tag specifies which class to be applied upon clicking on the button -->
  <router-outlet></router-outlet>
