<div class="menuBar">
  <!-- Conditional class -->
  <!-- <button type="button" [ngClass]="(dashboard=='step1')?'my-class1':'my-class2'" class="home btn btn-primary btn-sm" routerLink='/' routerLinkActive="active"> -->

  <button type="button" *ngIf="this.componentName!=='Dashboard'" class="home btn btn-primary btn-sm" routerLink='/'
    routerLinkActive="active">
    <i class="material-icons">home</i>
  </button>
  <button type="button" class="search btn btn-primary btn-sm" routerLink='/search'
    routerLinkActive="active">
    <i class="material-icons">search</i>
  </button>
  <button type="button" *ngIf="this.componentName!=='Addmenu'" class="add btn btn-primary btn-sm" routerLink='/addmenu'
    routerLinkActive="active">+</button>
</div>
