.menuBar {
  height: 2em;
  width: 100%;
  background-color: rgba(122, 122, 122, 0.667) !important;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0;
}

.add {
  width: 2em;
  height: 2rem;
  position: absolute;
  right: 0;
  /* border: 0; */
  /* padding: 0.5em; */
}

.search {
  /* width: 2em; */
  /* size: 0.9rem; */
  /* font-size: 0.5rem !important; */
  height: 2rem;
  position: absolute;
  right: 2rem;
  /* border: 0; */
  /* padding: 0.5em; */
}

.search i {
  font-size: 0.9rem;
}

.home {
  height: 2rem;
}
