<p>register-user works!</p>

<form #form="ngForm" (submit)="onSubmit(form)">
  <div class="field">
    <div class="twoFields">
      <label for="firstName">First Name</label>
      <input type="text" name='firstName' placeholder="First Name" ngModel>
    </div>
    <div class="twoFields">
      <label for="lastName">Last Name</label>
      <input type="text" name='lastName' placeholder="Last Name" ngModel>
    </div>
  </div>
  <div class="field">
    <label for="email">Email address</label>
    <input type="email" name="email" placeholder="Email Address" ngModel>
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input type="password" name="password" ngModel>
  </div>
  <button type="submit">Register</button>
</form>
